# generate this stuff with autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

# stuff from build
*.a
*.la
*.lai
*.lo
*.o
*.Plo
*.Po

# executables
ffwd
check_queue

# valgrind
massif*